version: '3.3'

services:
  # container for executing config import scripts for setting up initial config
  openhim-config-importer:
    container_name: openhim-config-importer
    image: jembi/instantohie-config-importer
    restart: on-failure
    environment:
      OPENHIM_API_HOSTNAME: 'openhim-core'
      OPENHIM_API_PORT: 8080
      OPENHIM_API_USERNAME: 'root@openhim.org'
      OPENHIM_API_PASSWORD: ${OPENHIM_ROOT_PASSWORD-instant101}
      # Reject unauthorised is only needed if the OpenHIM's SSL is not setup
      NODE_TLS_REJECT_UNAUTHORIZED: 0
    volumes:
      - type: volume
        source: instant
        target: /instant
    # This command will only attempt to import the OpenHIM config when the heartbeat responds with a 2xx
    command: sh -c "wait-on -t 60000 https-get://openhim-core:8080/heartbeat && node /instant/healthworkforce/docker/importer/volume/openhimConfig.js"

  # container for executing config import scripts for setting up initial config
  mcsd-config-importer:
    container_name: mcsd-config-importer
    image: jembi/instantohie-config-importer
    restart: on-failure
    environment:
      MEDIATOR_HOSTNAME: 'mcsd-mediator'
      MEDIATOR_API_PORT: 3003
    volumes:
      - type: volume
        source: instant
        target: /instant
    # This command will only attempt to import the mcsd mediator config when the uptime endpoint responds with 200
    command: sh -c "wait-on -t 60000 http-get://mcsd-mediator:3003/uptime && sleep 1 && node /instant/healthworkforce/docker/importer/volume/endpoint.js"

volumes:
  instant:
    external: true
