# docker volume data folders
**/data

# cli client
goinstant
./deploy.sh

# vscode config
.vscode

# Docs
docs
kubernetes.md
README.md

# Dependency directories
node_modules/
.editorconfig
.prettierrc.json
cov

# Git stuff
.git
.github
.gitignore

# env files
.env*
