version: '3.3'

services:
  logstash:
    image: docker.elastic.co/logstash/logstash:7.12.1
    container_name: logstash
    volumes:
      - logstash-pipeline:/usr/share/logstash/pipeline/
      - logstash-config:/usr/share/logstash/config/

  fhir-extractor:
    image: jembi/fhir-extractor:latest
    container_name: fhir-extractor
    environment:
      - GET_URL=http://hapi-fhir:8080/fhir
      - POST_URL=http://logstash:5055/fhir

volumes:
  logstash-pipeline:
    external: true
  logstash-config:
    external: true
