apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  labels:
    package: core
spec:
  clusterIP: None
  selector:
    app: mongo
  ports:
    - name: mongo-port
      port: 27017
      targetPort: 27017
