version: '3'

services:

  redis:
    image: redis:alpine
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    volumes:
      - redis-data:/data

  ihris:
    container_name: ihris
    image: ihris/ihris
    # defaault port contends with opencr and gofr, change to 3001
    ports:
      - "3001:3000"
    depends_on:
      - redis
    #  - fhir
    # - es
    restart: on-failure
    environment:
      IHRIS_FHIR__BASE: http://fhir:8080/fhir
      # do not use any longer
      # AUTOLOAD_RESOURCE_DIR: ../resources
      IHRIS_REDIS__URL: redis://redis
      IHRIS_ELASTICSEARCH__BASE: http://es:9200
      IHRIS_KIBANA__BASE: http://kibana:5601


volumes:
  redis-data: