version: '3.3'

services:
  openhim-core:
    container_name: openhim-core
    image: jembi/openhim-core:7
    environment:
      - mongo_url=mongodb://mongo-1:27017,mongo-2:27017,mongo-3:27017/openhim?replicaSet=mongo-set
      - mongo_atnaUrl=mongodb://mongo-1:27017,mongo-2:27017,mongo-3:27017/openhim?replicaSet=mongo-set
      - api_authenticationTypes=["token", "basic"]
      - authentication_enableCustomTokenAuthentication=true
    ports:
      - "8080:8080"
      - "5000:5000"
      - "5001:5001"
      - "5050:5050"
      - "5051:5051"
      - "5052:5052"

  openhim-console:
    container_name: openhim-console
    image: jembi/openhim-console:1.14
    ports:
        - "9000:80"
    depends_on:
      - openhim-core
    volumes:
       - 'openhim-console-config:/usr/share/nginx/html/config' 

  hapi-fhir:
    container_name: hapi-fhir
    image: hapiproject/hapi:v5.5.1
    environment:
      - spring.datasource.url=jdbc:mysql://hapi-mysql:3306/hapi
      - spring.datasource.username=admin
      - spring.datasource.password=instant101
      - spring.datasource.driverClassName=com.mysql.jdbc.Driver
      - spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
      - hapi.fhir.allow_external_references=true
      - hapi.fhir.bulk_export_enabled=true
      - JAVA_TOOL_OPTIONS=-Xmx2g
      - CATALINA_OPTS=-Xmx2g
    volumes:
      - type: volume
        source: instant
        target: /instant
    depends_on:
      - hapi-mysql

  hapi-mysql:
    container_name: hapi-mysql
    image: mysql:5.7
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      MYSQL_DATABASE: 'hapi'
      MYSQL_USER: 'admin'
      MYSQL_PASSWORD: 'instant101'
      MYSQL_ROOT_PASSWORD: 'instant101'
    volumes:
      - 'hapi-mysql-volume:/var/lib/mysql'
      - 'hapi-mysql-config:/etc/mysql/conf.d'

volumes:
  hapi-mysql-volume:
  hapi-mysql-config:
    external: true
  openhim-console-config:
    external: true  
  instant:
    external: true
