<html>

<head>
    <title>Instant OpenHIE</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>
</head>

<script>
    var source = new EventSource('http://localhost:27517/events?stream=messages');
    source.onmessage = function (e) {
        document.getElementById('console').innerHTML += e.data + '<br>';
    };
</script>


<body>

    <img src="logo.png" style="vertical-align: text-top;" />
    <p></p>
    <button class="button"
        onclick="window.open('https://wiki.ohie.org/display/resources/Instant+OpenHIE', '_blank')">Project</button>
    <button class="button buttonblue" onclick="window.open('https://openhie.github.io/instant/', '_blank')">Docs</button>
    <button class="button buttonblack" onclick="window.open('https://github.com/openhie/instant', '_blank')">Code</button>
    <hr>
    <h1>Debug Tools</h1>
    <hr>

    <p>Here are some links to help get started.</p>
    <p>When done, go back to the app console and use 'Control + C' to interrupt.</p>
    <p>Then double-click again and choose 'Stop Instant OpenHIE'.</p>

    <hr class="foot">


</body>

<h2>Console</h2>

<div id="console"
    style="font-size: 14px; background-color: #9fc4c6; width: 600px; height: 120px; padding: 10px; margin: 10px; overflow-y: scroll; overscroll-behavior-y: contain; scroll-snap-type: y mandatory;">
</div>


</html>