<html>

<head>
    <title>Instant OpenHIE</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>

</head>

<body>

    <img src="logo.png" style="vertical-align: text-top;" />
    <p></p>
    <button class="button"
        onclick="window.open('https://wiki.ohie.org/display/resources/Instant+OpenHIE', '_blank')">Project</button>
    <button class="button buttonblue" onclick="window.open('https://openhie.github.io/instant/', '_blank')">Docs</button>
    <button class="button buttonblack" onclick="window.open('https://github.com/openhie/instant', '_blank')">Code</button>
    <hr>
    <h1>Thank you. You can close this page and also make sure to close the console window.</h1>
    <h1>If you made a mistake, just close the console window and this tab and relaunch the app.</h1>
    <hr>

</body>

</html>