<html>

<head>
    <title>Instant OpenHIE</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>

</head>

<body>

    <img class="icon" src="logo.png" />
    <p></p>
    <h1>Welcome to Instant OpenHIE!</h1>
    <button class="button"
        onclick="window.open('https://wiki.ohie.org/display/resources/Instant+OpenHIE', '_blank')">Project</button>
    <button class="button buttonblue"
        onclick="window.open('https://openhie.github.io/instant/', '_blank')">Docs</button>
    <button class="button buttonblack"
        onclick="window.open('https://github.com/openhie/instant', '_blank')">Code</button>
    <hr>
    <h2>A little disclaimer first...</h2>
    <div>

        <p>Do not use this app in production or with sensitive data. </p>
        <p>
            This is an experiemental desktop app to help with testing, demos, and training, and not an official project
            of OpenHIE. This app:
        </p>

        <ul>
            <li>Creates files in the home directory to store things. This includes a copy of the source code from
                github.com/openhie/instant These are located in .instant/</li>
            <li>Queries, starts, and stops containers in Docker and Kubernetes. Only the 'instant' workflows are
                affected.</li>
        </ul>

        <p>
            This app will contain bugs. Please report issues <a href="https://github.com/openhie/instant">here</a>.
        </p>

    </div>

    <!-- <button class="button" onclick="Setup()">Accept and Get Started</button> -->
    <button class="button" onclick="window.location.replace('http://localhost:27517/index.html')">Accept and Get Started</button>
    <button class="button buttonred" onclick="window.location.replace('http://localhost:27517/decline.html')">Decline</button>

    <hr class="foot">


</body>

</html>