<html>

<head>
    <title>Instant OpenHIE</title>

    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">


    <script language="javascript" type="text/javascript">
        function packageTotal() {

            if (document.getElementById('basicProgram').checked) {
                // Basic package is checked
                window.location.href = "http://localhost:27517/usecase.html";

            } else if (document.getElementById('proProgram').checked) {
                // Pro package is checked
                window.location.href = "http://localhost:27517/debug.html";
            }
        }
    </script>
</head>

<body>

    <img src="iohie-logo-whitebg-transparent-resize.png" style="float: left;" />

    <br><br><br>
    <br><br><br>
    <h1>Welcome to Instant OpenHIE!</h1>
    <hr>
    <h2>Step One: Choose how you will run it</h2>
    <hr>

    <form name="platform">

        <br />
        <input type="radio" name="programType" id="basicProgram" value="Docker" checked /> Docker Desktop
        <br>

        <p class="tab2">
            Default. Only Docker is currently supported.
        </p>

        <p class="tab2">
            <a href="https://www.docker.com/products/docker-desktop">Install</a> Docker before continuing. Admin privileges are required.
        </p>

        <input type="radio" name="programType" id="proProgram" value="Kubernetes" disabled /> Kubernetes Cluster

        <p class="tab2">
            Disabled. Kubernetes clusters will be supported in a future version.
        </p>

        <input type="button" class="mdc-button mdc-button--raised mdc-button--secondary" value="Get Started" onclick="javascript:packageTotal();">

    </form>

    <br>

    <h2>Debug Menu</h2>
    <button class="mdc-button mdc-button--raised"
        onclick="window.open('https://openhim.readthedocs.io/en/latest/', '_blank')">Docs</button>
    <button class="mdc-button mdc-button--raised mdc-button--custom"
        onclick="window.open('https://github.com/jembi/openhim-console', '_blank')">Code</button>

</body>
<h3>Hapi FHIR Server</h3>
<button class="mdc-button mdc-button--raised mdc-button--secondary"
    onclick="window.open('http://localhost:3447/hapi-fhir-jpaserver', '_blank')">Open</button>
<button class="mdc-button mdc-button--raised"
    onclick="window.open('https://hapifhir.io/hapi-fhir/docs/', '_blank')">Docs</button>
<button class="mdc-button mdc-button--raised mdc-button--custom"
    onclick="window.open('https://github.com/jamesagnew/hapi-fhir', '_blank')">Code</button>

</html>