<html>

<head>
    <title>Instant OpenHIE</title>

    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>

</head>

<script>
    var source = new EventSource('http://localhost:27517/events?stream=messages');
    source.onmessage = function (e) {
        document.getElementById('console').innerHTML += e.data + '<br>';
    };

    function Setup() {
        fetch("http://localhost:27517/setup")
    }

    function DebugDocker() {
        fetch("http://localhost:27517/debugdocker")
    }

    function DebugKubernetes() {
        fetch("http://localhost:27517/debugkubernetes")
    }



</script>

<body>

    <img src="logo.png" style="float: left;" />

    <br><br><br>
    <br><br><br>
    <h1>Welcome to Instant OpenHIE!</h1>
    <button class="mdc-button mdc-button--raised mdc-button--secondary"
        onclick="window.open('https://wiki.ohie.org/display/resources/Instant+OpenHIE', '_blank')">Project</button>
    <button class="mdc-button mdc-button--raised"
        onclick="window.open('https://openhie.github.io/instant/', '_blank')">Docs</button>
    <button class="mdc-button mdc-button--raised mdc-button--custom"
        onclick="window.open('https://github.com/openhie/instant', '_blank')">Code</button>
    <hr>
    <h2>Step One: Docker or Kubernetes?</h2>
    <hr>

    <form name="platform">

        <h3>
            Docker Desktop is for running using Docker on your desktop. Install Docker before continuing. Admin
            privileges are required.
        </h3>

        <input type="button" class="mdc-button mdc-button--raised mdc-button--secondary" value="Get Started with Docker"
            onclick="window.location.replace('http://localhost:27517/docker.html')">
        <button class="mdc-button mdc-button--raised mdc-button--custom" id='debugdocker' onclick="DebugDocker()">Debug
            Docker</button>


        <br>

        <h3>
            Kubernetes requires access to a Kubernetes cluster on a server or one being installed on your computer, like
            minikube or Docker for Desktop.
        </h3>

        <input type="button" class="mdc-button mdc-button--raised mdc-button--secondary"
            value="Get Started with Kubernetes" onclick="window.location.replace('http://localhost:27517/docker.html')">
        <button class="mdc-button mdc-button--raised mdc-button--custom" id='debugkubernetes'
            onclick="DebugKubernetes()">Debug
            Kubernetes</button>

    </form>

</body>

<h2>Console</h2>

<!-- <button class="mdc-button mdc-button--raised mdc-button--custom" id='setup' onclick="Setup()">Debug Everything</button> -->

<div id="console"
    style="font-size: 14px; background-color: #9fc4c6; width: 900px; height: 200px; padding: 10px; margin: 10px; overflow-y: scroll; overscroll-behavior-y: contain; scroll-snap-type: y mandatory;">
</div>


</html>