<html>

<head>
    <title>Instant OpenHIE</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>

</head>

<body>

    <img src="logo.png" style="vertical-align: text-top;" />
    <p></p>
    <button class="button"
        onclick="window.open('https://wiki.ohie.org/display/resources/Instant+OpenHIE', '_blank')">Project</button>
    <button class="button buttonblue" onclick="window.open('https://openhie.github.io/instant/', '_blank')">Docs</button>
    <button class="button buttonblack" onclick="window.open('https://github.com/openhie/instant', '_blank')">Code</button>
    <hr>
    <h1>Step Two: Select Packages to Launch with Docker</h1>
    <hr>

    <h2>Console</h2>

    <button class="button" id='composeupcoredod' onclick="ComposeUpCoreDOD()">Launch the Core package</button>

    <div id="console"
        style="font-size: 14px; background-color: #9fc4c6; width: 900px; height: 200px; padding: 10px; margin: 10px; overflow-y: scroll; overscroll-behavior-y: contain; scroll-snap-type: y mandatory;">
    </div>

    <h2>Debug</h2>

    <button class="button buttonblack" id='setup' onclick="Setup()">Debug Setup</button>
    <button class="button buttonblack" id='debugkubernetes' onclick="main.DebugKubernetes()">Debug
        Kubernetes</button>

</body>

</html>