:root {
    --mdc-theme-secondary: rgb(59, 131, 66);
    --mdc-theme-primary: rgb(33, 116, 146);
    --custom-color: rgb(51, 51, 51);
}

.mdc-button--secondary {
    --mdc-theme-primary: var(--mdc-theme-secondary);
}

.mdc-button--custom {
    --mdc-theme-primary: var(--custom-color);
}

html {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #121212;
    background: hsl(0, 0%, 97);
}

body {
    margin: 8vw;
}

h1,
h2,
h3 {
    font-weight: 400;
}

hr {
    border: none;
    border-top: 1px solid #e6e6e6;
}

button+button {
    margin-left: 12px;
}